flask
google-generativeai
pydub
pymongo
transformers
torch
torchaudio
speechbrain
numpy
pandas
python-dotenv
flask-cors
flask-pymongo
flask-jwt-extended
flask-bcrypt
zxcvbn
tensorflow
shap
pydub
librosa
bloom_filter2
scikit-learn 
xgboost 
joblib 
shap